/* BODY */
body {
  margin: 0;
  background: #111;
  font-family: Arial;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 12px;
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* LOGO */
.logo {
  color: #ffc107;
  font-size: 20px;
  font-weight: bold;
}

/* ICON */
.icon {
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* YELLOW ICON */
.yellow {
  color: #ffc107;
}

/* SEARCH BOX */
.search-box {
  display: flex;
  align-items: center;
  background: #2a2a2a;
  border-radius: 6px;
  padding: 0 10px;
  gap: 8px;
  width: 200px;
}

/* INPUT */
.search-box input {
  flex: 1;
  min-width: 0;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 6px;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: -220px;
  width: 220px;
  height: 100%;
  background: black;
  transition: 0.3s;
  z-index: 1000;
  padding-top: 20px;
}

.sidebar.open {
  left: 0;
}

/* SIDEBAR LIST */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* SIDEBAR ITEM */
.sidebar li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-bottom: 1px solid #222;
  cursor: pointer;
}

/* ICON WHITE */
.menu-icon {
  font-size: 20px;
  color: white;
}

/* HOVER */
.sidebar li:hover {
  background: #1a1a1a;
}

/* CLOSE */
.close {
  padding: 10px;
  cursor: pointer;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

/*=============notice============*/
.notice {
  background: #ffc107;
  color: black;
  padding: 10px;
  font-size: 13px;
  text-align: center;
}

/*===============SECTION TITLE==========*/

.section-title {
  background: #1a1a1a;
  padding: 10px;
  font-size: 14px;
  color: #ffc107;
  border-left: 4px solid #ffc107;
  margin-top: 10px;
}

/* ================= CARDS ================= */

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
}

/* CARD */
.card {
  color: white;
}

/* IMAGE BOX */
.img-box {
  position: relative;
}

.img-box img {
  width: 100%;
  border-radius: 6px;
}

/* SUB BADGE */
.badge {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: #ffc107;
  color: black;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
  font-weight: bold;
}

/* TITLE */
.card h3 {
  font-size: 14px;
  margin: 8px 0 4px;
  color: #ffc107;
}

/* EPISODE */
.card p {
  font-size: 13px;
  color: #ccc;
}

/* LIST */
.list {
  padding: 10px;
}

.list-item {
  display: flex;
  gap: 10px;
  padding: 8px;
  border-bottom: 1px solid #222;
}

.list-item img {
  width: 60px;
  border-radius: 4px;
}
/* WATCH PAGE */
.watch-page {
  background: #0d0d0d;
  color: white;
  font-family: Arial;
}

/* VIDEO */
.video-container {
  width: 100%;
  background: black;
}

/* CONTROLS */
.controls {
  display: flex;
  gap: 15px;
  padding: 10px;
  font-size: 13px;
  border-bottom: 1px solid #222;
}

.controls b {
  color: #4caf50;
}

/* INFO */
.info {
  text-align: center;
  padding: 15px;
}

.info h3 {
  color: #00ffcc;
}

.small {
  font-size: 12px;
  color: #aaa;
}

/* SERVERS */
.servers {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.tag {
  background: #00ffcc;
  color: black;
  padding: 3px 6px;
  font-size: 12px;
}

/* EPISODES */
.episode-section {
  padding: 10px;
}

.episode-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.episode-header input {
  background: #111;
  border: 1px solid #333;
  color: white;
  padding: 5px;
}

/* LIST */
.episode-list {
  display: flex;
  flex-direction: column;
}

.episode {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #222;
}

.episode.active {
  background: #3a2f5c;
}

.episode span {
  color: #00ffcc;
  font-weight: bold;
}
/* WATCH PAGE */

.watch-page {
  background: #0b0b0b;
  color: white;
}

/* VIDEO */
.video-container {
  background: black;
}

/* CONTROL BAR */
.control-bar {
  display: flex;
  gap: 15px;
  padding: 10px;
  font-size: 13px;
  border-bottom: 1px solid #222;
}

.episode-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
}

/* side buttons */
.nav-btn {
  flex: 1;
  padding: 10px;
  background: #111;
  color: #aaa;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.nav-btn:hover {
  background: #111;
  color: white;
}

/* center button */
.all-btn {
  flex: 1.5;
  padding: 10px;
  background: black; /* blue */
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.control-bar b {
  color: #00ff66;
}

/* INFO */
.watch-info {
  text-align: center;
  padding: 15px;
}

.watch-info h3 {
  color: #00ffcc;
}

.desc {
  font-size: 12px;
  color: #aaa;
}

/* EPISODES */
.episode-section {
  padding: 10px;
}

.episode-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.episode-header input {
  background: #111;
  border: 1px solid #333;
  color: white;
  padding: 5px;
}

/* LIST */
.episode-list {
  display: flex;
  flex-direction: column;
}

.episode-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #222;
}

.episode-item.active {
  background: #3a2f5c;
}

.ep-num {
  color: #00ffcc;
  padding-top: 16px;
  font-weight: bold;
}

